/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    --bg-page: url('../images/cover-image-light.png');
    --bg-page-color: #FFF1F7;
    --text-color-title: #FFC2E6;
    --accent-color: #FF8DCB;
    --accent-color-rgb: 50, 49, 45;
    --text-color-section-title: #353430;
    --color-button: #353430;
    --color-button-rgb: 53, 52, 48;
    --text-color-title-card: #353430;
    --main-text-color: #353430;
}


.theme-light .decoration__element {
  opacity: 0;
}

.theme-light .decoration__element::after {
  opacity: 0;
}
  

@media (prefers-color-scheme: light) {
  :root {
       --bg-page: url('../images/cover-image-light.png');
    --bg-page-color: #FFF1F7;
    --text-color-title: #FFC2E6;
    --accent-color: #FF8DCB;
    --accent-color-rgb: 50, 49, 45;
    --text-color-section-title: #353430;
    --text-color-section-title-rgb: 53, 52, 48;
    --text-color-title-card: #353430;
    --main-text-color: #353430;
  }
}