/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-page);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-page-color);
}

.decoration__element {
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  color: #ff0070;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 25px;
  position: absolute;
  top: 10px;
  left: 304px;
}

.decoration__element::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  position: absolute;
  align-self: center;
  margin-left: 5px;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  padding: 10px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--text-color-section-title);
  border-right: 1px solid var(--text-color-section-title);
  top: 10px;
  left: 340px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--text-color-section-title);
  border-left: 1px solid var(--text-color-section-title);
  top: 633px;
  left: 10px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 18px;
  text-align: center;
  color: var(--color-button);
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  padding-inline: 13px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--color-button);
}
.header__theme-menu-button:hover {
  outline: 1px solid rgb(var(--color-button-rgb), 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--color-button);
}

.header_title {
  justify-self: start;
  align-self: center;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--text-color-title);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 83%;
}

.header_text {
  justify-self: center;
  align-self: center;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 23.4px;
  white-space: pre-line;
  width: 100%;
}

.title-decor {
  color: var(--text-color-title-card);
  background-color: var(--accent-color);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-block: 40px;
}

.section {
  padding-inline: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__title {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color-section-title);
}

.section__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.card__text {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--main-text-color);
}

.font-style-card-title {
  font-weight: 400;
}

.link-in-card-text {
  text-shadow: 2px 1px var(--accent-color);
  text-decoration: none;
}

.link-in-card-text:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.link-in-card-text:focus {
  outline: none;
}

.link-in-card-text:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.section-image {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 10px;
}

.card-image {
  inline-size: 100%;
  max-inline-size: 100vw;
  block-size: 100%;
  object-fit: contain;
  }

.footer {
  block-size: 100vh;
  min-block-size: 667px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px;
}

.footer-title {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--text-color-title);
  text-shadow: 2px 2px 0px var(--accent-color);
}

@media (width >= 768px) {
  .decoration__element {
    top: 20px;
    left: 687px;
  }

  .decorated-zone::before {
    top: 20px;
    left: 723px;
  }

  .decorated-zone::after {
    top: 979px;
    left: 20px;
  }

  .header {
    min-height: 1024px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 20px;
    }

  .header__theme-menu {
    grid-column: 1 / span 2;
  }

  .header_title {
    margin-inline-start: -20px;
    grid-column: 1 / span 2;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header_text {
    display: block;
    grid-column: 2/2;
    justify-self: end;
  }

  .main {
    gap: 80px;
    padding-block: 60px;
  }

  .section {
    padding-inline: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
  }

  .section:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  .section:nth-child(2) .section__card {
    grid-column: 1 / span 3;
  }

  .section__card {
    grid-column: 2/2;
  }

  .section__title {
    grid-row: 1 / span 2;
  }

  .section-image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    grid-auto-flow: dense;
  }

  .section-image .card__title {
    grid-column: 1 / span 3;
  }

  .card-image:nth-child(2) {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .card-image:nth-child(3) {
    grid-column: 3/4;
    grid-row: 2/4;
    object-fit: cover;
  }

  .card-image:nth-child(4) {
    grid-column: 1/2;
    grid-row: 3/5;
    object-fit: cover;
  }

  .card-image:nth-child(6) {
    grid-column: 2/4;
    grid-row: 4/5;
  }

  .footer {
    padding: 20px;
  }

  .footer-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .decoration__element {
    top: 20px;
    left: 943px;
  }

  .decorated-zone::before {
    top: 20px;
    left: 979px;
  }

  .decorated-zone::after {
    top: 723px;
    left: 20px;
  }

  .header {
    min-height: 768px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding: 20px;
  }

  .header__theme-menu {
    grid-column: 1 / span 2;
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .header__theme-menu-button {
    height: 26px;
  }

  .section:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  .section__title {
    grid-column: 1/1;
    grid-row: 1/1;
  }
  .section:nth-child(2) .section__card {
    grid-row: 2/5;
    grid-column: auto;
  }

  .section:nth-child(3) .section__title {
    grid-row: 1/3;
  }
}
