/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
    --bg-page: url('../images/cover-image-dark.png');
    --bg-page-color: #000028;
    --text-color-title: #DB00FF;
    --accent-color: #FF0070;
    --text-color-section-title: #FF0070;
    --color-button: #FF0070;
    --color-button-rgb: 255, 0, 112;
    --text-color-title-card: #000028;
    --main-text-color: #F1B2CE;
}